.about .banner{
    padding: 150px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* margin-top: -100px; */
    min-height: 750px;
}
.about .breadcrumbs{
    color: rgba(255, 255, 255, 0.6);
}
.banner-list ul{
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0;
    padding-left: 0;
}
.banner-list li{
    display: inline-flex;
    align-items: center;
    gap: 16px;
}
.banner-list li:before{
    content: '';
    width: 7px;
    height: 14px;
    background-color: #FF6701;
    transform: skew(-20deg);
}

.history.container{
    padding-top: 120px;
}

.history h2{
    margin-bottom: 80px;
}

.history h3{
    color: #FFC59E;
    display: flex;
    align-items: center;
    gap: 45px;
    margin-left: -95px;
}

.history h3:before{
    content: '';
    width: 32px;
    height: 32px;
    background-color: #FFC59E;
    border: 7px solid #FFE1CC;
    border-radius: 50%;
}
.today h3{
    color: #FF6701;
}

.today h3:before{
    background-color: #FF6701;
    border: 7px solid #FFC59E;
}
.history-list{
    position: relative;
}
.history-list:before{
    content: '';
    width: 2px;
    height: 95%;
    display: block;
    background-image: url("../assets/icons/history-list-lborder.png");
    position: absolute;
    top: 0;
    left: 210px;
    z-index: -1;
}
.history-item-wrap{
    display: grid;
    grid-template-columns: 204px 1fr;

    svg{
        flex-shrink: 0;
        margin-top: 60px;
    }
}
.history-item{
    display: grid;
    grid-template-columns: 204px 1fr;
    align-items: flex-start;
    padding: 67px 0 80px;
    border-bottom: 1px solid #F2F2F2;
    margin-left: 86px;
}
.history-item-wrap:first-child .history-item{
    padding-top: 0;
}
.history-item-wrap:first-child svg{
    margin-top: -8px;
}
.history-item-wrap:last-child .history-item{
    border-bottom: none;
    padding-bottom: 0;
}

.about_map{
    padding-top: 120px;
}
.about_map-content{
    max-width: 495px;
    margin-left: auto;
}
.about_map-content p{
    color: #343434;
}
.about_map-img{
    max-width: 1920px;
    margin: -175px auto 0;
    width: 100%;
}
.about_map-img img{
    width: 100%;
}