.about .banner{
    padding: 150px 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* margin-top: -100px; */
    min-height: 750px;
}
.about .breadcrumbs{
    color: rgba(255, 255, 255, 0.6);
}
.banner-list ul{
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0;
    padding-left: 0;
}
.banner-list li{
    display: inline-flex;
    align-items: center;
    gap: 16px;
}
.banner-list li:before{
    content: '';
    width: 7px;
    height: 14px;
    background-color: #FF6701;
    transform: skew(-20deg);
}

.history.container{
    padding-top: 120px;
}

.history h2{
    margin-bottom: 80px;
}

.history h3{
    color: #FFC59E;
}

/*.history h3:before{*/
/*    content: '';*/
/*    width: 32px;*/
/*    height: 32px;*/
/*    background-color: #FFC59E;*/
/*    border: 7px solid #FFE1CC;*/
/*    border-radius: 50%;*/
/*}*/
.today h3{
    color: #FF6701;
}

.today h3:before{
    background-color: #FF6701;
    border: 7px solid #FFC59E;
}
.history-list{
    position: relative;
}
.history-list:before{
    content: '';
    width: 2px;
    height: 95%;
    display: block;
    background-image: url("../assets/icons/history-list-lborder.png");
    position: absolute;
    top: 0;
    left: 210px;
    z-index: -1;
}
.history-item-wrap{
    display: grid;
    grid-template-columns: 204px 1fr;

    svg{
        width: 180px;
        flex-shrink: 0;
        margin-top: 40px;
    }
}
.history-item{
    display: grid;
    grid-template-columns: 204px 1fr;
    align-items: flex-start;
    padding: 67px 0 80px;
    border-bottom: 1px solid #F2F2F2;
    margin-left: 86px;
}
.history-item-wrap:first-child .history-item{
    padding-top: 0;
}
.history-item-wrap:first-child svg{
    margin-top: -25px;
}
.history-item-wrap:last-child .history-item{
    border-bottom: none;
    padding-bottom: 0;
}
.history-item-wrap svg path{
    fill: #FF6701;
}

.about_map{
    padding-top: 120px;
}
.about_map-content{
    max-width: 495px;
    margin-left: auto;
    position: relative;
    z-index: 1;
}
.about_map-content p{
    color: #343434;
}
.about_map-img{
    max-width: 1920px;
    margin: -10% auto 0;
    width: 100%;
}
.about_map-img img{
    width: 100%;
}
.contain {
    width: 100%;
    padding-left: 190px;
}

.step {
    padding: 60px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.step:first-child{
    padding-top: 0;
}
.v-stepper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    /*   visibility: visible; */
}
.step .circle{
    width: 252px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 45px;
}
.step .circle span{
    background-color: #FFC59E;
    border: 6px solid #FFE1CC;
    border-radius: 100%;
    width: 32px;    /* +6 for border */
    height: 32px;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.circle h3{
    margin-bottom: 0;
}
.step .line {
    top: 23px;
    left: 16px;
    height: calc(100% + 120px);
    position: absolute;
    border-left: 1px dashed #FFC59E;
}

.step.completed .circle span{
    visibility: visible;
    background-color: #FF6701;
    border-color: #FFE1CC;
}
.step.completed h3{
    color: #FF6701;
}
.step.completed .line {
    border-left: 1px dashed #FFC59E;
}

/*.step.active .circle {*/
/*    visibility: visible;*/
/*    border-color: rgb(6,150,215);*/
/*}*/

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
    /*     visibility: hidden; */
    /*   height: 150%; */
    top: 0;
    height: 150%;
}


.step:last-child .line {
    border-left: 3px solid white;
    z-index: -1; /* behind the circle to completely hide */
}

.content {
    width: 68.5%;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    /*padding-bottom: 80px;*/
}
.content:after{
    content: '';
    display: block;
    width: calc(100% + 220px);
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    bottom: -50px;
    right: 0;
}
@media (max-width: 1050px) {
    .about_map-img{
        margin-top: 0;
    }
}
@media (max-width: 900px) {
    .contain{
        padding-left: 0;
    }
}
@media (max-width: 600px) {
    .history.container{
        padding-top: 50px;
    }
    .history h2{
        margin-bottom: 40px;
    }
    .about .banner{
        padding: 90px 0 160px;
        min-height: unset;
    }
    .banner-list ul{
        grid-template-columns: 1fr;
        font-size: 18px;
    }
    .about_map{
        padding-top: 80px;
    }
    .about_map h2{
        font-size: 32px;
    }
    .v-stepper{
        flex-direction: column;
    }
    .step .circle{
        gap: 20px;
    }
    .content{
        width: 100%;
        padding: 14px 15px 0 32px;
    }
    .content:after{
        display: none;
    }
    .step{
        padding: 20px 0;
    }
    .step .line{
        height: calc(100% + 40px);
    }
}
