.feedback{
    background-color: rgba(38, 38, 38, 1);
    color: #fff;
    padding: 60px 50px 60px;
    display: grid;
    grid-template-columns: 60% 410px;
    margin: 145px auto;
}
.feedback  p{
    color: #FFFFFF;
    text-align: left;
    max-width: 380px;
    margin-bottom: 48px;
}
.form-inputs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-bottom: 24px;
}
.form-inputs input{
    padding: 14px 24px;
}
.form-checkbox{
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.checkbox{
    position: relative;

}
.checkbox input{
   display: none;
}
.checkbox label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    /*border: 1px solid #fff;*/
    border: 1px solid #D5D5D5;
    flex-shrink: 0;
    background-color: #fff;
    cursor: pointer;
}

.checkbox label svg{
    opacity: 0;
    transition: .3s ease;
}
.checkbox input:checked + label svg{
    opacity: 1;
}
.feedback-img{
    margin-top: -125px;
}

.feedback-img img{
    width: 100%;
   
}

@media (max-width: 1050px) {
    .feedback{
        grid-template-columns: 50% 1fr;
    }
    .form-inputs{
        grid-template-columns: 1fr;
    }
    .feedback-img{
        margin-top: 0px;
    }
}

@media (max-width: 900px) {
    .feedback{
        grid-template-columns: 100%;
        margin: 50px auto;
    }
    .feedback-img{
        display: none;
    }
}

@media (max-width: 600px) {
    .feedback{
        padding: 50px 15px;
    }

    .feedback p{
        margin-bottom: 20px;
    }
    .feedback p br{
        display: none;
    }
    
}