.footer {
    padding: 80px 0 40px;
    box-shadow: 0px -24px 24px 0px #00000005;
}
.footer  h5 {
    font-size: 18px;
    font-style: normal;
    margin: 0 0 30px;
    font-weight: 700;
    line-height: normal;
}
.footer h5 svg{
    display: none;
}

.footer-content_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}
.footer-catalog{
    width: 460px;
}
.footer-catalog-menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
}
.footer-menu{
    width: 38%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.footer li{
    transition: .3s ease;
}
.footer li:hover{
    color: #FF6701 !important;
}
.footer-content_middle{
    display: flex;
    gap: 120px;
    margin-bottom: 60px;
}
.footer-content_bottom {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E8E8E8;
    color: #CCCCCC;
    gap: 30px;
}
.footer-logo {
    width: 180px;
    flex-shrink: 0;
}

.footer-catalog .menu a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s ease;
}
li:not(:last-child) {
    margin-bottom: 15px;
}

.footer-messengers {
    display: flex;
    align-items: center;
    gap: 28px;
}
.footer-left {
    width: 152px;
}
.footer-privacy {
    a {
        transition: all 0.3s ease;
    }

    a:hover {
        color: gray;
    }
}
.footer-middle {
    width: 250px;
    text-align: center;
}

.footer-right {
    width: 267px;
}
.footer-contur {
    display: flex;
    justify-content: space-between;
}

.contur-link {
    transition: all 0.3s ease;
}

.contur-link:hover {
    color: gray;
}

.contur-link:not(:last-child) {
    margin-bottom: 5px;
}


@media (max-width: 900px) {
    .footer-content_middle {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .footer-content_bottom{
        flex-direction: column;
    }
    .footer-middle{
        text-align: left;
    }
}

@media (max-width: 550px) {
    .footer{
        padding-top: 50px;
    }
    .footer-content_top{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;
    }
    .footer-content_middle{
        gap: 0;
        margin-bottom: 0;
    }
    .footer-catalog,
    .footer-menu{
        width: 100%;
    }
    .footer-menu{
        flex-direction: column;
        gap: 0px;
    }
    .footer h5 svg{
        display: block;
    }
    .footer h5{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .footer-accordion-item{
        overflow: hidden;
    }
    .footer-accordion-content{
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }
    .footer-accordion-item.active .footer-accordion-content{
        visibility: visible;
        opacity: 1;
        margin-bottom: 32px;
    }

}