.header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	padding: 24px 0;
}
.page-content .header{
	position: static;
}
.header-top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 36px;
}

.logo{
	flex-shrink: 0;
	width: 144px;
	margin-right: 30px;
}
.logo img{
	width: 100%;
}
.header .black-logo{
	display: none;
}
.page-content .header .white-logo{
	display: none;
}
.page-content .header .black-logo{
	display: flex;
}
.header-top .btn,
.header-bottom .btn{
	margin-left: 30px;
	height: 47px;
	background: transparent;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: .3s ease;
}

.page-content .header .btn{
	color: #1D1D1D !important;
	border: 1px solid #E8E8E8;
}
.page-content .header .btn:hover{
	color: #FF6701 !important;
	border-color: #FF6701;
}
.catalog-menu{
	height: 47px;
	padding: 11px 20px 11px 20px;
	background-color: rgba(255, 103, 1, 1);
	font-weight: 600;
	line-height: 100%;
	letter-spacing: 0;
	color: #FFFFFF;
	cursor: pointer;
}
.catalog-menu >ul>li>a{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	line-height: 120%;
}
.categories{
	overflow: hidden;
}
.sub-menu{
	position: absolute;
	top: 74px;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	display: none;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}
.sub-menu >ul{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	padding: 40px;
	border-radius: 29px;
	color: #1D1D1D;
	
}
.catalog-menu:hover .sub-menu{
	display: block;
}
.sub-menu >ul>li{
	width: 358px;
}
.sub-menu > ul> li > a{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	font-weight: 600;
}
.sub-menu .categories-item__img{
	width: 100px;
	height: 76px;
	margin-right: 16px;
}
.sub-menu .categories-item__img:after{
	width: 85px;
	height: 76px;
    z-index: 0;
}
.sub-menu .categories-item__img img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	z-index: 1;
}
.sub-menu-ttl{
	position: relative;
	z-index: 1;
}
.sub-menu-ttl::before{
	content: '';
	width: 10px;
    height: 48px;
    background: #FFC59E;
    position: absolute;
    top: -13px;
    left: 15px;
    transform: skewX(-10deg) rotate(80deg);
    z-index: -1;
}
.sub-menu-item.has-menu{
	position: relative;
}
.item-sub-menu{
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 80px;
	border-left: 1px solid #EBEBEB;
	font-weight: 400;
	min-height: 530px;
	display: none;
}
.sub-menu-item.has-menu:hover .item-sub-menu{
	display: block;
}
.item-sub-menu ul{
	width: 40vw;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}
.search{
	flex-grow: 1;
	height: 47px;
	position: relative;
	background-color: rgba(255, 255, 255, 0.4);
	overflow: hidden;
}
.page-content .search{
	background-color: rgba(29, 29, 29, 0.05);
}
.search input{
	width: 100%;
	background-color: transparent;
	color: #fff;
	padding: 11px 50px 12px 20px;
	font-size: 16px;
	line-height: 100%;
}
.page-content .search input{
	color: #252525;
}
.search input::placeholder{
	color: #fff;
}
.page-content .search input::placeholder{
	color: #B2B2B2;
}

.search button{
	position: absolute;
	top: 50%;
	right: 15px;
	width: 18px;
	height: 18px;
	border: 0;
	outline: 0;
	transform: translateY(-50%);
	background: unset;
	cursor: pointer;
}
.page-content .search svg path{
	stroke: #B2B2B2;
}
.menu{
	margin: 0 auto;
}

.menu ul{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	color: #fff;
	font-weight: 500;
}
.page-content .menu ul{
	color: #1D1D1D;
}
.menu ul li{
	margin-bottom: 0;
	transition: .3s ease;
}
.menu ul li:hover{
	color: #FF6701;
}
.header-burger{
	display: none;
}
.mobile-catalog-btn,
.header-bottom .btn,
.mobile-sub-menu,
.mobile-item-sub-menu{
	display: none;
}

@media (max-width: 767px) {
	.header-burger{
		display: block;
		margin-left: 20px;
		cursor: pointer;
	}
	.header-burger .close-burger{
		display: none;
	}
	.header-top .btn{
		display: none;
	}
	.page-content .header-burger svg rect{
		fill: #191919;
	}
	.catalog-menu{
		display: none;
	}
	
	.header-bottom{
		position: absolute;
		top: 90px;
		left: -100%;
		width: 100%;
		height: calc(100vh - 90px);
		background-color: #fff;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		z-index: 100;
		transition: .3s ease;
	}
	.mobile-header{
		background-color: #FFFFFF;
	}
	.mobile-header .black-logo{
		display: block;
	}
	.mobile-header .white-logo{
		display: none;
	}
	.mobile-header .search svg path{
		stroke: #191919;
	}
	.mobile-header .header-bottom{
		left: 0;
	}
	.mobile-header .open-burger{
		display: none;
	}
	.mobile-header .close-burger{
		display: block;
	}
	.mobile-header .search input{
		color: #191919;
	}
	.mobile-header .search input:focus,
	.mobile-header .search input:hover{
		background-color: #FFF;
		border: 1px solid #1D1D1D;
		border-radius: 5px;
	}
	.mobile-catalog-menu,
	.header-bottom .btn{
		display: block;
		position: relative;
	}
	.mobile-catalog-btn{
		width: 100%;
		padding: 8px;
		color: #FFF;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #FF6701;
		gap: 12px;
	}
	.header-bottom .btn{
		border-color: #FF6701;
		color: #FF6701 !important;
		margin: 0 auto;
	}
	.menu ul{
		color: #222121;
		flex-direction: column;
		gap: 40px;
		padding: 30px;
	}

	.mobile-sub-menu,
	.mobile-item-sub-menu{
		position: absolute;
		top: 0;
		left: -100%;
		z-index: 101;
		display: block;
		width: 100%;
		height: 100vh;
		padding: 0;
		overflow: hidden;
		background-color: #fff;
		padding: 24px 18px;
		transition: .3s ease;
	}
	.mobile-sub-menu li a{
		display: grid;
		grid-template-columns: 100px 1fr;
		align-items: center;
		gap: 20px;
		/* height: 100vh; */
	}
	.mobile-sub-menu h5,
	.mobile-item-sub-menu h5{
		text-align: center;
		margin-bottom: 28px;
	}
	.close-btn,
	.close-arrow{
		position: absolute;
		cursor: pointer;
	
	}

	.mobile-item-sub-menu{
		z-index: 102;
	}
}

@media (max-width: 500px) {
	.search{
		width: 50px;
		position: absolute;
		top: 25px;
		right: 55px;
		background-color: transparent;
		transition: width .3s ease;
	}
	.page-content .search{
		background-color: transparent;
	}
	.page-content .search input:hover,
	.page-content .search input:focus{
		border: 1px solid #1D1D1D;
		border-radius: 5px;
	}
	.search input{
		opacity: 0;
	}
	.search:hover {
		width: calc(100vw - 85px);
		background-color: #FFFFFF;
	}
	.mobile-header .search:hover{
		width: calc(100vw - 70px);
	}
	.search:hover svg path{
		stroke: #191919;
	}
	.search:hover input::placeholder{
		color: #191919;
	}
	.search:hover input{
		opacity: 1;
		color: #191919;
	}
}