@import url('header-style.css');
@import url('banner.css');
@import url('news.css');
@import url('reviews.css');
@import url('about.css');
@import url('breadcrumbs.css');
@import url('catalog.css');
@import url('feedback.css');
@import url('partners.css');
@import url('default-page.css');
@import url('categories.css');
@import url('products.css');
@import url('product.css');
@import url('places.css');
@import url('prices-style.css');
@import url('footer-style.css');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/* -------------------------------------------reset-styles------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Стандартный синтаксис */
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
/*a:hover{text-decoration: none;}*/
ul li{list-style-type: none;}

h1,h2, h3, h4, h5, h6{font-style: inherit;}

/* -------------------------------------------main-styles------------------------------------------- */
html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Manrope', sans-serif;
	background-color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.no-scroll{
	overflow: hidden;
}
.layout{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header{
	flex-shrink: 0;
}

main{
	flex-grow: 1;
}

footer{
	/* background-color: black; */
	flex-shrink: 0;
}

.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	border: 1px solid red;
}

h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 24px;
}
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0;
    margin-bottom: 40px;
}

h3 {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0p;
    margin-bottom: 24px;
}

h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 24px;
}

h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0;
    margin-bottom: 16px;
}

h6 {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-bottom: 24px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0;
    margin-bottom: 24px;
    color: #7A7A7A;
}

.btn{
    display: inline-block;
    background: #FF6701;
    padding: 14px 24px 17px;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF !important;
    white-space: nowrap;
    border: 1px solid #FF6701;
    transition: .3s ease;
}
.btn:hover{
    border-color: #FF6701;
    color: #FF6701 !important;
    background: transparent;
}
.swiper{
    height: auto;
}
.swiper-slide{
    height: auto;
}
.swiper-button-prev:after,
.swiper-button-next:after{
    display: none;
}

.swiper-button-prev,
.swiper-button-next{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev{
    right: -15px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    left: -15px;
}
.swiper-button-next svg, .swiper-button-prev svg{
    width: 24px;
    height: 24px;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
    opacity: 0;
    visibility: hidden;
}
.popup.show-popup{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease;
}
.popup form{
    max-width: 600px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 56px 48px;
    position: relative;
    text-align: center;
}
.popup form .close-form{
    position: absolute;
    top: 40px;
    right: 18px;
    cursor: pointer;
    font-size: 60px;
    font-weight: 100;
    line-height: 0;
    transform: rotate(45deg);
    color: #252525;
}
.popup h4{
    margin-bottom: 0px;
}
.popup p{
    margin-bottom: 18px;
}
.popup form input,
.popup form button{
    width: 100%;
    padding: 14px 24px;
    border: 1px solid #D3D3D3;
}
.popup .form-checkbox{
    font-size: 14px;
    color: #7A7A7A;
    align-self: flex-start;
    text-align: left;
}

@media (max-width: 600px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 28px;
    }
    h5{
        font-size: 20px;
    }
}
